<script type='text/javascript'>
  <% if logged_in? %>
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
       currentUser: current_user
     ).html_safe %>
  <% end %>
</script>

<script src="https://use.fontawesome.com/34b812209d.js"></script>

<div id="root">Oh no! Lexicon seems to have a problem.</div>
