.header-container {
  position: absolute;
  display: flex;
  align-content: center;
  justify-content: center;
  height: 80px;
  width: 100%;
  background-color: rgba(51, 54, 59, 0.95);
  z-index: 999;
}

.header-content {
  font-family: 'Asap', sans-serif;
  display: flex;
  justify-content: space-between;
}

.logo-container {
  display: flex;
  justify-content: center;
  width: 150px;
}

.logo-text {
  font-size: 24px;
  margin: auto 0;
  font-family: 'Asap', sans-serif;
  font-weight: 700;
  padding-right:
}

.header-links {
  justify-content: space-around;
  align-items: center;
}

.nav-link {
  font-size: 15px;
}

.nav-link i {
  margin-right: 10px;
}

.nav-link:link, .nav-link:visited {
  color: rgba(255, 255, 255, 0.7);
}

.nav-link:hover {
  color: rgb(255, 255, 255);
}

.active i {
  color: rgb(77, 181, 56);
}

.logged-out-greeting {
  display: flex;
  align-items: center;
  width: 150px;
}

.signup-link, .session-link, .logout-button {
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 12px;
  cursor: pointer;
}

.session-link, .logout-button {
  background-color: rgba(255, 255, 255, 0.2)
}

.session-link {
  margin-right: 10px;
}

.signup-link {
  background-color: rgb(77, 181, 56);
}

.signup-link:link, .session-link:link, .logo-text:link,
.signup-link:visited, .session-link:visited, .logo-text:visited {
  color: white;
}

.logged-in-greeting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 160px;
}

.user-data {
  color: white;
  text-align: right;
}

.user-points {
  font-size: 20px;
}

.user-name {
  font-size: 13px;
}

.logged-in-greeting i {
  color: rgb(77, 181, 56);
}

.logout-button {
  color: white;
  border: none;
}
