.header-spacer {
  height: 80px;
}

.fixed-width {
  margin: 0 auto;
  box-sizing: border-box;
  width: 95%;
  max-width: 1025px;
}

.inner-fixed-width {
  display: flex;
  box-sizing: border-box;
  width: 97.5%;
  max-width: 550px;
}

.flex-content {
  display: flex;
  height: 100%;
}

.col-1-3 {
  flex-grow: 1;
}

.col-2-3 {
  flex-grow: 2;
}

.content-sign-up {
  font-size: 20px;
  display: inline-flex;
  align-self: flex-end;
}

.icon-button-container {
  background-color: inherit;
  padding: none;
  border: none;
  margin: none;
  cursor: pointer;
}
