.quiz-container {
  font-family: 'Asap', sans-serif;
  min-height: calc(100vh - 160px);
}

.quiz {
  padding: 40px 0;
  background-color: #2c3e2e;
  min-height: 525px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.quiz-content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1025px;
}

.quiz-content-top {
  display: flex;
  width: 100%;
}

.quiz-questions {
  min-width: 200px;
  flex-basis: 50%;
  padding: 20px;
  margin: auto 0;
}

.quiz-questions-box {
  box-sizing: border-box;
  border-radius: 10px;
  padding: 30px;
  min-height: 50px;
  height: 70%;
  background-color: white;
  border: 4px solid rgb(150, 155, 149);
}

.quiz-questions-box h1 {
  font-size: 24px;
  color: rgb(104, 104, 104);
  margin-bottom: 20px;
}

.quiz-questions-box h1 b {
  color: black;
  font-weight: 700;
}

.quiz-answers {
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  flex-basis: 50%;
  box-sizing: border-box;
  padding: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  margin: auto 0;
}

.quiz-answer-index-item {
  padding: 10px 0;
  font-weight: 700;
  font-size: 18px;
  color: rgb(54, 88, 142);
  cursor: pointer;
  margin-left: 25px;
}

.quiz-answer-index-item:before {
  transition: 0.3s;
  font-family: 'FontAwesome';
  content: "\f10c";
  margin: 0 5px 0 -25px;
  color: rgba(77, 181, 56, 0.7);
}

.quiz-answer-index-item:hover:before {
  content: "\f111";
  color: rgba(77, 181, 56, 1);
}

.quiz-answer-definition {
  line-height: 1.75;
  font-size: 22px;
  padding-bottom: 30px;
}

.quiz-answer-example {
  font-size: 16px;
  font-style: italic;
  line-height: 1.5;
}

.quiz-next-button {
  opacity: 0;
  display: hidden;
  color: white;
  min-width: 150px;
  flex-basis: calc((100% - 1025px)/2);
  padding-left: 25px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
  padding-bottom: 100px;
}

.quiz-next-button i {
  transition: 0.5s;
  color: rgba(255, 255, 255, 0.7);
}

.quiz-next-button:hover i {
  text-shadow: rgba(255, 255, 255, 0.7) 0 0 20px;
}

.quiz-back-button {
  min-width: 150px;
  flex-basis: calc((100% - 1025px)/2);
}

.quiz-guess-message {
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
  font-size: 22px;
  font-weight: 700;
  padding-left: 20px;
  flex-basis: 100%;
}


.under-quiz {
  padding: 30px 0;
}

.quiz-footer {
  color: rgb(71, 115, 22);
  background-color: #2c3e2e;
  background-image: linear-gradient(rgba(255,255,255,0.9) 0px, rgba(255,255,255,1) 100%);
  border-bottom: 1px solid #eee;
  height: 60px;
  box-sizing: border-box;
  padding: 20px 0;
}

.quiz-footer h1 {
  font-size: 11px;
  font-weight: 700;
}

.quiz-footer h2 {
  font-size: 16px;
}

.message-answer-wrong {
  color: rgb(255, 110, 110);
}

.message-answer-correct {
  color: rgb(157, 199, 126);
}

/* these must overwrite quiz-answer-index-item css! */

.quiz-answer-wrong, .quiz-answer-wrong:before,
.quiz-answer-wrong:hover:before {
  color: #c00;
  content: "\f05c";
}

.quiz-answer-correct, .quiz-answer-correct:before,
.quiz-answer-correct:hover:before {
  color: #539007;
  content: "\f05d"
}

.quiz-answer-unanswered:before,
.quiz-answer-unanswered:hover:before {
  color: #fff;
}
