.homepage-hero-module {
  border-right: none;
  border-left: none;
  position: relative;
  max-height: 550px;
  overflow: hidden;
}

.no-video .video-container video,
.touch .video-container video {
  display: none;
}

.no-video .video-container .poster,
.touch .video-container .poster {
  display: block !important;
}

.video-container {
  position: relative;
  bottom: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #000;
  max-height: 550px;
}

.video-container .poster img {
  width: 100%;
  bottom: 0;
  position: absolute;
  max-height: 550px;
  overflow: hidden;
}

.video-container .filter {
  z-index: 100;
  position: absolute;
  background: rgba(37, 54, 40, 0.7);
  width: 100%;
  height: 100%;
  min-height: 550px;
}

.video-container video {
  position: absolute;
  z-index: 0;
  bottom: 0;
}

.video-container video.fillWidth {
  width: 100%;
}

.splash-hero-container {
  justify-content: space-between;
  align-items: center;
}

.splash-hero {
  color: white;
  font-family: 'Asap', sans-serif;
}

.splash-hero-pitch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 250px;
  padding: 20px 60px 20px 20px;
}

.splash-hero-pitch h1 {
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 10px;
}

.splash-hero-pitch h2 {
  font-size: 24px;
  margin-bottom: 25px;
}

.splash-hero-pitch p {
  font-size: 16px;
  line-height: 1.75;
}

.splash-hero-def {
  border: 2px solid white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 160px;
  padding: 15px;
}

.splash-hero-def h1 {
  font-size: 32px;
  font-style: italic;
  margin-left: 15px;
}

.splash-hero-def p {
  font-style: italic;
  font-size: 12px;
  margin-left: 15px;
}

.splash-hero-def ol {
  list-style-type: lower-roman;
  font-size: 14px;
  line-height: 1.75;
  margin-left: 15px;
}

.homepage-about-module {
  min-height: 550px;
  font-family: 'Asap', sans-serif;
  background-image: linear-gradient(0deg, rgb(37, 54, 40), rgba(37, 54, 40, 0.7) 33%, rgb(238, 238, 238) 33%, rgb(238, 238, 238));
}

.homepage-about-module h1 {
  display: block;
  padding: 80px 0 60px 0;
  font-size: 26px;
  font-weight: 400;
  text-align: center;
}

.splash-about-container {
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.sequence-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 250px;
  height: 300px;
  border: 2px solid black;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 15px;
  background-color: white;
  box-shadow: 0px 2px 4px black;
}

.sequence-box h2 {
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  margin-bottom: 10px;
}

.sequence-box h3 {
  font-size: 24px;
  text-align: center;
}

.sequence-box p {
  text-align: center;
}

.sequence-box i {
  color: rgb(77, 181, 56);
  text-shadow: 2px 2px 1px black;
}
