.word-show-container {
  font-family: 'Asap', sans-serif;
  min-height: calc(100vh - 160px);
  margin-bottom: 30px;
}

.word-show-header {
  border-bottom: 1px solid rgb(238, 238, 238);
  padding: 12px 0;
}

.word-show-header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(51, 51, 51);
}

.word-show-header h2 {
  font-size: 18px;
  color: rgb(51, 51, 51);
}

.word-show-header a {
  font-size: 14px;
}

.word-hero {
  font-size: 120px;
  margin-top: 80px;
  margin-bottom: 40px;
}

.word-show-content {
  display: flex;
  justify-content: space-between;
}

.word-definitions-container {
  width: 520px;
  border-top: 1px solid rgb(238, 238, 238);
}

.word-examples-container {
  width: 450px;
  border-top: 1px solid rgb(238, 238, 238);
}

.word-examples-container p {
  display: flex;
  align-items: center;
  color: rgb(34, 85, 138);
  margin: 17px 0;
}

.word-examples-container p span {
  font-size: 10px;
}

.word-examples-container p i {
  margin-right: 10px;
}

.word-definitions-container h2,
.word-examples-container h2 {
  color: rgb(68, 68, 68);
  font-size: 15px;
  margin-top: 5px;
}

.word-definitions-container strong {
  color: rgb(67, 128, 7);
  font-weight: 700;
  font-size: 30px;
  line-height: 1.75;
}

.word-definitions-index {
  border-top: 3px solid rgb(102, 102, 102);
}

.word-definitions-index-item {
  border-bottom: 1px solid rgb(221, 221, 221);
  border-top: 1px solid rgb(51, 51, 51);
  box-sizing: border-box;
  padding: 15px 0;
  background-color: rgb(245, 245, 245);
  margin-bottom: 10px;
}

.word-definitions-index-item:first-of-type {
  border-top: none;
}

.definition {
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid rgb(221, 221, 221);
  padding: 0 15px 15px 15px;
}

.pos-box {
  flex-shrink: 0;
  display: inline-block;
  box-sizing: border-box;
  padding: 5px;
  border-radius: 4px;
  font-style: italic;
  font-size: 12px;
  color: white;
  margin-right: 15px;
  height: 24px;
  width: 100px;
  text-align: center;
}

[class*="verb"], .participle, .imperative {
  background-color: rgb(83, 144, 7);
}

[class*="noun"], .name {
  background-color: rgb(227, 65, 47);
}

.adjective, [class*=article] {
  background-color: rgb(248, 176, 2);
}

.adverb {
  background-color: rgb(104, 75, 157);
}

.conjunction {
  background-color: rgb(219, 148, 26);
}

.preposition {
  background-color: rgb(45, 94, 183);
}

.interjection {
  background-color: rgb(142, 48, 139);
}

.affix, .suffix, .prefix {
  background-color: white;
  color: black;
}

.idiom {
  background-color: rgb(46, 112, 122);
}

.abbreviation {
  background-color: rgb(45, 45, 45);
}

.definition-text {
  box-sizing: border-box;
  line-height: 1.5;
  padding: 0 15px;
  font-size: 16px;
}

.definition-source {
  font-size: 10px;
  font-style: italic;
  text-align: right;
  padding: 15px 15px 0 15px;
}

.word-examples-index-item:last-of-type {
  border-bottom: 1px solid rgb(221, 221, 221);
}

.example-text {
  color: rgb(51, 51, 51);
  font-size: 13px;
  line-height: 1.75;
}

.example-text b {
  font-weight: 700;
}

.example-source {
  color: rgb(187, 187, 187);
  font-size: 12px;
  font-style: italic;
  line-height: 2;
  padding-bottom: 10px;
}

.word-show-error-header {
  color: rgb(153, 153, 153);
  font-size: 30px;
  font-style: italic;
  line-height: 3;
}

.word-show-error {
  color: rgb(68, 68, 68);
  font-size: 27px;
  line-height: 1.75;
}

.word-show-error b {
  font-weight: 700;
  color: rgb(67, 128, 7);
}
