<!DOCTYPE html>
<html>
  <head>
    <title>Lexicon</title>
    <link rel="shortcut icon" href="https://s3-us-west-1.amazonaws.com/lexicon-dev/favicon.ico" />
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
